@import "~@/assets/styles/variables";

.product-item {
  display: inline-block;
  position: absolute;
  cursor: pointer;

  transition: all 0.3s ease-out;

  &:hover {
    opacity: 0.7;
  }

  .product-desc,
  .product-price {
    position: absolute;
    bottom: 8%;
    left: 5%;

    color: white;
    font-weight: 500;
  }

  .product-desc {
    font-size: 28px;
  }

  .product-desc div:first-child {
    margin-bottom: 10px;
  }

  .product-price {
    font-size: 18px;
  }
}

@media (min-width: $breakpoint) {
  .product-item {
    .product-price {
      font-size: 22px;
    }
  }
}
