$header-height: 78.44px;
$primary: rgb(118, 174, 164);
$secondary: rgb(176, 177, 181);
$black: black;
$white: white;
$lightgrey: rgb(247, 248, 252);
$darkgrey: rgb(114, 113, 118);
$gold: rgb(243, 213, 114);
$silver: rgb(189, 189, 189);
$bronze: rgb(192, 158, 117);
