@import "~@/assets/styles/variables";

.header-filter {
  display: inline-block;

  .link:first-child {
    border-right: none;
    border-radius: 10px 0 0 10px;
  }

  .link:last-child {
    border-radius: 0 10px 10px 0;
  }
}